

<div class="panel panel-default " style="padding:0;">

        <img src="./img/banner3.png" class="img-fluid" alt="Responsive image">

    <div class="panel-body">

        <div class="card-body" >
            <!-- Button -->
            <!-- Title -->
            <h4><img src="./img/logoempresa2.png"  style="align: center;">
            </h4>
            <hr>
            <!-- Text -->
            <div class="descripción" style=" background-color: #2196F3; color:white; padding: 20px;">
                <h3 style="text-align: center">Misión</h3>
                <h4 class="card-text">
                    "Promover la salud mental de las personas, sin distinción de género, raza o clase social, proporcionándoles apoyo en el tratamiento y prevención de los trastornos psicológicos."
                </h4>

                <hr style="color: white;">
                <h3 style="text-align: center">Visión</h3>
                <h4 class="card-text">
                    "Promover la salud mental de las personas, sin distinción de género, raza o clase social, proporcionándoles apoyo en el tratamiento y prevención de los trastornos psicológicos."
                </h4>

            </div>

        </div>

        <div class="card-body">
            <!-- Button -->
            <!-- Title -->
            <hr>
            <h4 class="card-title">Nuestro Equipo</h4>
            <hr>
            <!-- Text -->
            <div class="descripción" style="text-align: center;">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card-body">
                            <!-- Button -->
                            <!-- Title -->
                            <h4><img  src="./img/img5.png" class="img-circle" style="height: 200px; width: 200px;" >
                            </h4>
                            <h4 class="card-title">Dania Montanares</h4>

                            <hr>
                            <!-- Text -->
                            <div class="descripción">
                                <p class="card-text">CEO de Healthy MND SpA y Desarrolladora.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card-body">
                            <!-- Button -->
                            <!-- Title -->
                            <h4><img  src="./img/img4.jpg" class="img-circle" style="height: 200px; width: 200px;" >
                            </h4>
                            <h4 class="card-title">Camila Márquez</h4>

                            <hr>
                            <!-- Text -->
                            <div class="descripción">
                                <p class="card-text">CEO de Healthy MND SpA y Desarrolladora.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <!-- Text -->


        </div>


    </div>
    <div class="bottompanel" >2018</div>
</div>
