
<div class="row" >
    <div class="col-md-9">

        <div id="NewPost"  class="row">
            <div class="col-sm-2">
                <img src="./img/user1.png" class="img-circle" style="width: 80px; height: 80px">
            </div>
            <div class="panel panel-default col-sm-10" style="padding:0;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>{{username}}</h4>
                        </div>
                        <div class="col-md-3 " style="text-align: center">

                            <p style="color:red; padding-top: 10px; padding-bottom: 0px;" class="align-middle"><a>Denunciar <span class="glyphicon glyphicon-remove-sign" style="color:red; padding-top: 3px;"></span></a></p>
                        </div>
                    </div>

                </div>
                <div class="panel-body" >
                    <div class="card-body">
                        <!-- Button -->
                        <!-- Title -->
                        <h4 class="card-title">Ataques de Pánico</h4>

                        <hr>
                        <!-- Text -->
                        <div class="descripción" style="padding-bottom: 0px;">
                            <p class="card-text">
                                <i> Tres epifanías se abrieron camino ante mi psique... y cambiaron las reglas del juego
                                </i>
                            </p></br>
                            <p>
                                Con 12 años tuve mi primer ataque de pánico. Las manos sudorosas, el corazón desbocado, los temblores y la sensación que todo a mi alrededor se desvanecía; no tenía ni idea de lo que me estaba sucediendo. Solo sabía que no podía controlar mi cuerpo. Era puro terror. Fui a ver a médicos, pasé por una serie de pruebas y me dieron el visto bueno. Aunque aliviada tras saber que no tenía ningún problema médico, vivía con el miedo de que fuera a suceder de nuevo. Y vaya si sucedió. Una y otra vez y otra.</p>
                            <p>
                                A medida que maduraba, empecé a juntar las piezas del puzzle. Estos “sucesos” no surgían de la nada; había un detonante, un desencadenante emocional. Cada incidente iba precedido de una preocupación o un temor abrumadores. Un dolor en el abdomen que significaba apendicitis, un viaje ajetreado en avión significaba una colisión inminente, etcétera.
                            </p>
                            <p>
                                Nerviosa por naturaleza desde pequeña, conocía bien el miedo y el pánico. Pero con estos casos estaba llegando a un nivel completamente nuevo.
                            </p>
                            <p>
                                Pasé años viviendo con temor a que se repitieran. Temía quedarme a dormir en las casas de mis amigos, salir de excursión o, en general, arriesgarme a alejarme demasiado de casa. De mayor, dejé de viajar en avión, de subirme a los ascensores o de hacer viajes por trabajo.
                            </p>
                            <p>
                                Con el tiempo, un psiquiatra confirmó lo que yo ya intuía: padecía un trastorno de ansiedad y ataques de pánico. Me prescribió dos tipos de medicación y me remitió a un terapeuta cognitivo conductual.
                            </p>
                            <p>
                                Aunque la terapia conversacional y la medicación me ayudaron mucho en varios aspectos de mi vida, no tuvo mucho éxito en lo referente a la gravedad o la frecuencia de mis ataques de pánico; al menos no en la dirección prevista.
                            </p>
                        </div>
                        </div>
                </div>

                <div class="bottompanel  text-center pt-3" style="margin-bottom: 0px;">
                    <ul class="list-unstyled list-inline font-small" style="margin-bottom: 0px; padding-bottom: 0px;">
                        <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text">12 <span class="glyphicon glyphicon-comment" style="padding-top: 2px;"></span></a></li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text">15  <span class="glyphicon glyphicon-thumbs-up" style="padding-top: 2px;"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--/ COMENTAR-->
        <div class="row" style="padding: 10px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <textarea id="comentar" style="width: 100%" placeholder="Comentar"></textarea>
                <button class="btn btn-default">Comentar</button>
            </div>
        </div>
        <!--/ COMENTARIOS -->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div id="PostParte1"  class="row">
                    <div class="col-sm-3">
                        <img src="./img/user2.png" class="img-circle" style="width: 80px; height: 80px; margin-right: 10px;">
                    </div>
                    <div class="panel panel-default col-sm-9" style="padding:0;">
                        <div class="panel-heading">Amadeus Mozart</div>
                        <div class="panel-body">
                            <p>¿Que opinan de como la peli "no estoy loca" refleja a las personas con trastornos psicologicos? </p>
                        </div>
                        <div class="bottompanel" style="text-align: right;">Mon Aug 27 2018 23:17:29</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div id="PostParte1"  class="row">
                    <div class="col-sm-3">
                        <img src="./img/user2.png" class="img-circle" style="width: 80px; height: 80px; margin-right: 10px;">
                    </div>
                    <div class="panel panel-default col-sm-9" style="padding:0;">
                        <div class="panel-heading">Amadeus Mozart</div>
                        <div class="panel-body">
                            <p>¿Que opinan de como la peli "no estoy loca" refleja a las personas con trastornos psicologicos? </p>
                        </div>
                        <div class="bottompanel" style="text-align: right;">Mon Aug 27 2018 23:17:29</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div id="PostParte1"  class="row">
                    <div class="col-sm-3">
                        <img src="./img/user2.png" class="img-circle" style="width: 80px; height: 80px; margin-right: 10px;">
                    </div>
                    <div class="panel panel-default col-sm-9" style="padding:0;">
                        <div class="panel-heading">Amadeus Mozart</div>
                        <div class="panel-body">
                            <p>¿Que opinan de como la peli "no estoy loca" refleja a las personas con trastornos psicologicos? </p>
                        </div>
                        <div class="bottompanel" style="text-align: right;">Mon Aug 27 2018 23:17:29</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!--/span-->
    <div class="col-md-3">

        {{>ads}}
    </div>
</div>

