<div class="row" >
    <div class="col-md-9">

        <div id="NewPost"  class="row">
            <div class="col-sm-2">
                <img src="./img/user2.png" class="img-circle" style="width: 80px; height: 80px">
            </div>
            <div class="panel panel-default col-sm-10" style="padding:0;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Amadeus Mozart</h4>
                        </div>
                        <div class="col-md-3 " style="text-align: center">

                            <p style="color:red; padding-top: 10px; padding-bottom: 0px;" class="align-middle"><a>Denunciar <span class="glyphicon glyphicon-remove-sign" style="color:red; padding-top: 3px;"></span></a></p>
                        </div>
                    </div>

                </div>
                <div class="panel-body" >
                    <div class="card-body">
                        <!-- Button -->
                        <!-- Title -->
                        <h4 class="card-title">Mis padres me sobre exigen demasiado</h4>

                        <hr>
                        <!-- Text -->
                        <div class="descripción" style="padding-bottom: 0px;">
                            <p class="card-text">
                                <i> Tres epifanías se abrieron camino ante mi psique... y cambiaron las reglas del juego
                                </i>
                            </p></br>
                            <p>
                                Con 12 años tuve mi primer ataque de pánico. Las manos sudorosas, el corazón desbocado, los temblores y la sensación que todo a mi alrededor se desvanecía; no tenía ni idea de lo que me estaba sucediendo. Solo sabía que no podía controlar mi cuerpo. Era puro terror. Fui a ver a médicos, pasé por una serie de pruebas y me dieron el visto bueno. Aunque aliviada tras saber que no tenía ningún problema médico, vivía con el miedo de que fuera a suceder de nuevo...
                            </p>
                        </div>
                        <p style="text-align: right; color:#2196F3 "><a> Ver más...</a></p>
                    </div>
                </div>

                <div class="bottompanel  text-center pt-3" style="margin-bottom: 0px;">
                    <ul class="list-unstyled list-inline font-small" style="margin-bottom: 0px; padding-bottom: 0px;">
                        <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text">12 <span class="glyphicon glyphicon-comment" style="padding-top: 2px;"></span></a></li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text">15  <span class="glyphicon glyphicon-thumbs-up" style="padding-top: 2px;"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/ COMENTAR-->
        <div class="row" style="padding: 10px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <textarea id="comentar" style="width: 100%" placeholder="Comentar"></textarea>
                <button class="btn btn-default">Comentar</button>
            </div>
        </div>
        <!--/ COMENTARIOS -->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div id="PostParte1"  class="row">
                    <div class="col-sm-3">
                        <img src="./img/user2.png" class="img-circle" style="width: 80px; height: 80px; margin-right: 10px;">
                    </div>
                    <div class="panel panel-default col-sm-9" style="padding:0;">
                        <div class="panel-heading">Amadeus Mozart</div>
                        <div class="panel-body">
                            <p>¿Que opinan de como la peli "no estoy loca" refleja a las personas con trastornos psicologicos? </p>
                        </div>
                        <div class="bottompanel" style="text-align: right;">Mon Aug 27 2018 23:17:29</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--/span-->
    <div class="col-md-3">

        {{>ads}}
    </div>
</div>

