
<div class="row" >
    <div class="col-md-9">

        <div class="page-header">
            <h3>Inbox</h3>
        </div>

    </div>
    <!--/span-->
    <div class="col-md-3">
        {{>busqueda}}
        {{>ads}}
    </div>
</div>