<div class="row" >
    <div class="col-md-9">

        <div id="materiales">
            <div class="panel panel-default " style="padding:0;">

                <img src="./img/banner7.png" class="img-fluid" alt="Responsive image">

                <div class="panel-body">

                    <div class="card-body" >
                        <!-- Button -->
                        <!-- Title -->
                        <h4>Descubre 4 efectivas formas para parar un ataque de ansiedad
                        </h4>
                        <hr>
                        <!-- Text -->
                        <p> Muchas personas sufren de frecuentes ataques de pánico y viven su vida evitando situaciones que les causan miedo que en la mayoría de los casos es irracional.  Con esta simple técnica usando los cuatro pasos a seguir, usted puede aprender a parar un ataque de pánico en tan poco como tres minutos.</p>
                        <P style="text-align: center;">
                            <button class="btn btn-primary btn-sm" onclick="VerMat1()" >
                                Ver Más
                            </button>
                        </P>
                    </div>

                </div>
                <div class="bottompanel" >10/08/2018</div>
            </div>

            <div class="panel panel-default " style="padding:0;">

                <img src="./img/banner4.png" class="img-fluid" alt="Responsive image">

                <div class="panel-body">

                    <div class="card-body" >
                        <!-- Button -->
                        <!-- Title -->
                        <h4>¿Cómo influye el color en el estado de ánimo?
                        </h4>
                        <hr>
                        <!-- Text -->
                        <p>Varias culturas antiguas, incluyendo los egipcios y los chinos, practicaron la cromoterapia, la cual utilizaba los colores para sanar. La cromoterapia todavía se utiliza hoy en día como un tratamiento holístico o alternativa.</p>
                        <P style="text-align: center;">
                            <button class="btn btn-primary btn-sm" onclick="VerMat2()" >
                                Ver Más
                            </button>
                        </P>
                    </div>

                </div>
                <div class="bottompanel" >10/08/2018</div>
            </div>

        </div>

        <div id="mat1">
            <div class="panel panel-default " style="padding:0;">

                <img src="./img/banner7.png" class="img-fluid" alt="Responsive image">

                <div class="panel-body">

                    <div class="card-body" >
                        <!-- Button -->
                        <!-- Title -->
                        <h4>Descubre 4 efectivas formas para parar un ataque de ansiedad
                        </h4>
                        <hr>
                        <!-- Text -->

                        <h2>Los Ataques de P&aacute;nico Son Comunes</h2>

                        <p>Muchas personas sufren de frecuentes ataques de p&aacute;nico y viven su vida evitando situaciones que les causan miedo que en la mayor&iacute;a de los casos es irracional.&nbsp; Con esta simple t&eacute;cnica usando los cuatro pasos a seguir, usted puede aprender a parar un ataque de p&aacute;nico en tan poco como tres minutos.</p>

                        <h2>&iquest;Qu&eacute; Es Un Ataque De P&aacute;nico?</h2>

                        <p>Un ataque de p&aacute;nico es una condici&oacute;n en la cual un exceso de adrenalina entra a su torrente sangu&iacute;neo.&nbsp; Un mensaje de miedo le indica a sus gl&aacute;ndulas suprarrenales que hay una emergencia.</p>

                        <p>Las gl&aacute;ndulas suprarrenales son gl&aacute;ndulas triangulares del tama&ntilde;o de un ch&iacute;charo situadas en la parte anterosuperior de los ri&ntilde;ones.&nbsp; Est&aacute;n llenas de adrenalina la cual cuando entra al torrente sangu&iacute;neo de su cuerpo, aumenta su habilidad de responder a una emergencia.&nbsp; El que su cuerpo responda de esta manera causa s&iacute;ntomas f&iacute;sicos que muchas personas confunden con un ataque al coraz&oacute;n u otra seria condici&oacute;n f&iacute;sica.&nbsp; El malinterpretar estos s&iacute;ntomas puede causar que la respuesta de miedo continue.</p>

                        <h2>Este Es El Proceso</h2>

                        <p>La adrenalina causa que el coraz&oacute;n bombee m&aacute;s sangre la cual es recibida por todos los m&uacute;sculos mayores para aumentar su habilidad de correr r&aacute;pido e incrementar la fuerza en sus brazos.&nbsp; El cerebro tambi&eacute;n recibe m&aacute;s sangre para aumentar su habilidad de respuesta a una emergencia.</p>

                        <p>Toma tres minutos desde el momento en que su cerebro manda la se&ntilde;al de emergencia hasta que su cuerpo est&eacute; lleno de adrenalina con m&aacute;s sangre en los m&uacute;sculos de sus brazos y piernas y cerebro.&nbsp; En ese periodo de tres minutos usted sentir&aacute; su coraz&oacute;n latir con mayor fuerza y la sangre fluir por todo su cuerpo.&nbsp; Por mientras que sus gl&aacute;ndulas suprarrenales sigan recibiendo ese mensaje de emergencia, continuar&aacute;n produciendo y descargando adrenalina.&nbsp; Cuando su cerebro deja de mandar la se&ntilde;al de emergencia, sus gl&aacute;ndulas suprarrenales dejan de descargar adrenalina.</p>

                        <h2>Solo Toma Tres Minutos Para Parar Un Ataque De P&aacute;nico</h2>

                        <p>Solo toma tres minutos para que sus gl&aacute;ndulas suprarrenales llenen su cuerpo de adrenalina.&nbsp; Y tambi&eacute;n solo toma tres minutos para que su cuerpo pare esta reacci&oacute;n de adrenalina.&nbsp; Si usted para un ataque de p&aacute;nico el momento que comienza, la reacci&oacute;n solo tiene que durar tres minutos.</p>

                        <h2>Es Muy Simple</h2>

                        <p>El parar un ataque de p&aacute;nico es muy simple.&nbsp; Lo &uacute;nico que tiene que hacer es parar el mensaje de emergencia que est&aacute;n recibiendo sus gl&aacute;ndulas suprarrenales.&nbsp; Aprenda los siguientes cuatro pasos y su ataque de p&aacute;nico solo durar&aacute; tres minutos.&nbsp; Una vez que usted entiende como esto funciona, usted nunca tiene que volver a sufrir un ataque de p&aacute;nico de nuevo.</p>

                        <h2>Aprenda Estos Cuatro Pasos Simples</h2>

                        <p>Si el sufrir de ataques de p&aacute;nico es un problema recurrente, anote estos cuatro pasos al frente de una tarjeta con una lista de frases tranquilizadoras por detr&aacute;s.&nbsp; M&aacute;rquela con colores fuertes para que se le haga m&aacute;s f&aacute;cil de encontrar en su bolsa o cartera.&nbsp; Ll&eacute;vela consigo a donde quiera que usted vaya hasta que memorice los pasos y se los sepa muy bien.&nbsp; Estudie estos pasos y apr&eacute;ndalos con anticipaci&oacute;n.&nbsp; Si a usted le da un ataque de p&aacute;nico, saque su tarjeta de inmediato y siga los pasos con exactitud.&nbsp; Una vez que usted se aprenda los pasos ya no necesitar&aacute; de la tarjeta.</p>

                        <h2>Completa Resoluci&oacute;n</h2>

                        <p>Si usted sufre de ataques de p&aacute;nico con frecuencia yo le sugiero que usted trabaje con un practicante de PNL (Programaci&oacute;n Neuroling&uuml;&iacute;stica) para resolver la causa de su ansiedad.&nbsp; Usted merece vivir libre de ansiedad.&nbsp; El resolver lo que le causa ansiedad de una manera permanente es una de mis &aacute;reas de especialidad.</p>

                        <h2>Los Cuatro Pasos:</h2>

                        <ol>
                            <li>Rel&aacute;jese</li>
                            <li>Pare Los Pensamientos Negativos</li>
                            <li>Use Frases Tranquilizadoras</li>
                            <li>Acepte Sus Emociones</li>
                        </ol>

                        <h2>As&iacute; Se Implementan:</h2>

                        <h3>Paso 1.&nbsp; Rel&aacute;jese</h3>

                        <p>Rel&aacute;jese al hacer respiraciones lentas, hondas y completas.&nbsp; C&aacute;lmese al recordar que solo le est&aacute; dando un ataque de p&aacute;nico y que no le est&aacute; pasando nada m&aacute;s serio que eso.&nbsp; Continue respirando lento, hondo y de manera completa.&nbsp; Respiraciones lentas, hondas y completas relajar&aacute; su cuerpo lo cual es el primer paso para parar que el exceso de adrenalina llene su cuerpo.</p>

                        <h3>Paso 2.&nbsp; Pare Los Pensamientos Negativos</h3>

                        <p>Pare los pensamientos negativos al gritar la palabra &quot;&iexcl;&iexcl;&iexcl;ALTO!!!&quot; de manera muy fuerte dentro de su cabeza.&nbsp; Al gritar la palabra &quot;ALTO&quot; usted est&aacute; interrumpiendo el mensaje de emergencia que su cerebro est&aacute; mandando a sus gl&aacute;ndulas suprarrenales.&nbsp; Con frecuencia las personas teniendo un ataque de p&aacute;nico se meten en un c&iacute;rculo vicioso al repetirse a si mismos frases catastr&oacute;ficas una y otra vez dentro de su cabeza.&nbsp; El interrumpir ese c&iacute;rculo vicioso le da la oportunidad de reemplazar el mensaje de miedo con uno de calma.</p>

                        <h3>Use Frases Tranquilizadoras</h3>

                        <p>Una frase tranquilizadora es una frase positiva que es tan o m&aacute;s fuerte que la frase catastr&oacute;fica que usted ha usado para generar miedo dentro de usted.&nbsp; Reemplace el pensamiento negativo con uno positivo.&nbsp; Escoja una frase que contrareste el pensamiento negativo.</p>

                        <p>Por ejemplo, si usted piensa que le est&aacute; dando un ataque al coraz&oacute;n (un miedo com&uacute;n durante un ataque de p&aacute;nico) entonces usted quiz&aacute; se est&eacute; repitiendo lo siguiente mentalmente, &quot;O Dios, me est&aacute; dando un ataque al coraz&oacute;n&quot; o &quot;&iexcl;Me voy a morir, Dios m&iacute;o, me voy a morir!&quot;&nbsp; Despu&eacute;s de que usted grita &quot;&iexcl;ALTO!&quot; de inmediato reemplazca ese pensamiento de miedo con una frase positiva que le ayude a controlar la situaci&oacute;n como &quot;Solo me est&aacute; dando un ataque de p&aacute;nico y terminar&aacute; en tres minutos si me relajo&quot; o &quot;Mi miedo est&aacute; causando que mi coraz&oacute;n lata m&aacute;s fuerte, mi coraz&oacute;n est&aacute; bien&quot;.</p>

                        <p>Si usted va caminando por una calle y siente temor al escuchar que alguien camina detr&aacute;s de usted, usted podr&iacute;a decir, &quot;He caminado por esta calle cientos de veces&quot; o &quot;Yo camino solo por esta calle cada noche cuando voy rumbo a casa despu&eacute;s del trabajo, lo que estoy escuchando detr&aacute;s de mi es otra persona que est&aacute; caminando a casa despu&eacute;s de su trabajo&quot;.</p>

                        <p>Otras frases tranquilizadoras podr&iacute;an ser &quot;He superado &eacute;sta experiencia muchas veces y puedo hacerlo de nuevo&quot; o &quot;Estoy bien, todo esta bien&quot;.</p>

                        <p>Piense en todas los pensamientos de miedo que le causan p&aacute;nico y luego haga una lista de frases tranquilizadoras que usted puede leer cuando las necesita en vez de pensar en ellas cuando le est&aacute; dando un ataque de p&aacute;nico.</p>

                        <p>Nota:&nbsp; Si su respuesta de miedo es hacia un peligro real, yo le sugiero que usted considere el escoger nuevas maneras de manejar esos miedos.&nbsp; Si usted se siente preocupado por su salud, consulte a su m&eacute;dico.</p>

                        <h3>Paso 4. Acepte Sus Emociones</h3>

                        <p>El aceptar sus emociones es muy importante.&nbsp; El minimizar esta experiencia por lo general solo sirve para que se repita.</p>

                        <p>Empiece al identificar que emoci&oacute;n est&aacute; sintiendo.&nbsp; La mayor&iacute;a de los ataques de p&aacute;nico son causados por la emoci&oacute;n de miedo o una variaci&oacute;n del miedo.&nbsp; Identifique que emoci&oacute;n est&aacute; sintiendo y encuentre una raz&oacute;n por la cual la siente.</p>

                        <p>Dele validez a lo que usted est&aacute; sintiendo y la raz&oacute;n por ello.&nbsp; Si a usted le est&aacute; dando un ataque de p&aacute;nico antes de dar un discurso, entonces usted siente miedo porque es algo que causa temor.&nbsp; El sentir miedo al estar frente a un p&uacute;blico es una causa com&uacute;n de miedo y p&aacute;nico.&nbsp; Si usted siente miedo de que le est&aacute; dando un ataque al coraz&oacute;n, es v&aacute;lido el sentir miedo de eso.&nbsp; Si usted siente temor al escuchar los pasos de alguien caminando detr&aacute;s de usted es razonable el sentir miedo de que algo malo podr&iacute;a pasarle.</p>

                        <p>En todos estos casos tome las precauciones necesarias.&nbsp; Visite a su m&eacute;dico con regularidad para confirmar que su coraz&oacute;n est&aacute; saludable.&nbsp; Camine sobre una calle bien alumbrada y est&eacute; conciente de sus alrededores al caminar.&nbsp; Camine como un guerrero y no como una v&iacute;ctima.&nbsp; Estas con precauciones importantes para asegurar su seguridad.&nbsp; Luego, cuando usted usa una frase tranquilizadora que le recuerda que usted fue a ver a su m&eacute;dico recientemente y que su coraz&oacute;n est&aacute; bien, y usted puede asegurarse a si mismo que no tiene porque sentir miedo sabiendo que usted est&aacute; sano y salvo.</p>

                        <p>El miedo es una emoci&oacute;n positiva que nos recuerda de cuidarnos a nosotros mismos.&nbsp; Pr&eacute;stele atenci&oacute;n a sus emociones, cu&iacute;dese a usted mismo, y mantenga sus emociones en proporci&oacute;n a la situaci&oacute;n al mantener todo en perspectiva.</p>

                        <p>Mucha gente ya no sufre de ataques de p&aacute;nico despu&eacute;s de aprender estos pasos.&nbsp; Sin embargo, existe una soluci&oacute;n m&aacute;s poderosa para resolver de manera permanente las respuestas de p&aacute;nico y ansiedad y darle felicidad y libertad sobre sus emociones.&nbsp; Su mente tiene el poder de influenciar de una manera muy poderosa sus estrategias negativas a las situaciones.&nbsp; Al usar hipnosis o PNL (Programaci&oacute;n Neuroling&uuml;&iacute;stica - una manera poderosa de cambiar o realzar su proceso cognitivo), nosotros podemos lograr cualquier meta, resolver cualquier problema y crear la excelencia que usted desea en cada &aacute;rea de su vida.</p>

                        <p>Usted puede convertirse en la persona que usted quiere ser.</p>


                    </div>

                </div>

                <P style="text-align: center;">
                    <button class="btn btn-primary btn-sm" onclick="atras()" >
                        Atrás
                    </button>
                </P>
                <div class="bottompanel" >10/08/2018</div>
            </div>
        </div>

        <div id="mat2">
            <div class="panel panel-default " style="padding:0;">

                <img src="./img/banner4.png" class="img-fluid" alt="Responsive image">

                <div class="panel-body">

                    <div class="card-body" >
                        <!-- Button -->
                        <!-- Title -->
                        <h4>¿Cómo influye el color en el estado de ánimo?
                        </h4>
                        <hr>
                        <!-- Text -->
                        <p><strong>&iquest;Por qu&eacute; es el color de una fuerza tan poderosa en nuestras vidas? &iquest;Qu&eacute; efectos puede tener sobre nuestros cuerpos y mentes?</strong>&nbsp;Artistas, dise&ntilde;adores y publicistas utilizan el color como una herramienta de comunicaci&oacute;n para influir en los estados de &aacute;nimos, los sentimientos y las emociones de las personas, y tambi&eacute;n en sus estados fisiol&oacute;gicos.</p>

                        <p>Pero, a pesar de lo mucho que se habla c&oacute;mo utilizar el color para influir e incluso para manipular a las personas,&nbsp;<strong>apenas hay estudios al respecto</strong>.</p>

                        <p>De cualquier manera, la psicolog&iacute;a del color es un tema de gran actualidad que est&aacute; presente en el arte, el marketing, el dise&ntilde;o y otras muchas &aacute;reas que buscan comunicar y conseguir una reacci&oacute;n de los otros.</p>

                        <p><strong>Los sentimientos hacia los colores suelen ser muy personales y est&aacute;n arraigados tanto en la experiencia como en la cultura.</strong>&nbsp;De este modo, un mismo color puede significar cosas completamente opuesta seg&uacute;n la cultura o la civilizaci&oacute;n.</p>

                        <h2>Cromoterapia: La psicolog&iacute;a del color como terapia</h2>

                        <p>Varias culturas antiguas, incluyendo los egipcios y los chinos, practicaron la&nbsp;<a href="http://es.wikipedia.org/wiki/Cromoterapia"><strong>cromoterapia</strong></a>, la cual utilizaba los colores para sanar. La cromoterapia todav&iacute;a se utiliza hoy en d&iacute;a como un tratamiento hol&iacute;stico o alternativa.</p>

                        <p>En la cromoterapia, los colores se utilizan para lo siguiente:</p>

                        <p>&ndash;&nbsp;<strong>El rojo&nbsp;</strong>se utiliza para estimular el cuerpo y la mente y para aumentar la circulaci&oacute;n.<br />
                            &ndash;&nbsp;<strong>El amarillo</strong>&nbsp;se cree que estimula los nervios y que puede purificar el cuerpo.<br />
                            &ndash;&nbsp;<strong>El naranja</strong>&nbsp;se utiliza para curar los pulmones y para aumentar los niveles de energ&iacute;a.<br />
                            &ndash;&nbsp;<strong>El azul</strong>&nbsp;se emplea para calmar las enfermedades y tratar el&nbsp;<a href="https://lamenteesmaravillosa.com/el-dolor-que-nos-hace-vulnerables">dolor</a>.<br />
                            &ndash; Los tonos &iacute;ndigo se utilizan ??para aliviar problemas de la piel.</p>

                        <h2>La investigaci&oacute;n moderna sobre Psicolog&iacute;a del color</h2>

                        <p><strong>La mayor&iacute;a de los psic&oacute;logos consideran la terapia del color con escepticismo y se&ntilde;alan que los supuestos efectos de color son a menudo muy exagerados debido, precisamente, a que los colores tambi&eacute;n tienen diferentes significados en diferentes culturas</strong>.</p>

                        <p><strong>Diferentes investigaciones han comprobado que, en muchos casos, los efectos que cambian el &aacute;nimo son solo temporales. Sin embargo, otros estudios han encontrado que el color puede afectar a las personas de maneras sorprendentes</strong>. Por ejemplo, un estudio comprob&oacute; que las pastilla de placebo de colores c&aacute;lidos eran m&aacute;s eficaces que las de colores fr&iacute;os. Otros estudios, tambi&eacute;n han demostrado que ciertos colores pueden influir en el rendimiento de los estudiantes y en el rendimiento deportivo.</p>

                        <p>Aunque el inter&eacute;s por la psicolog&iacute;a del color es cada vez mayor, sigue habiendo muchas preguntas sin respuesta. De momento, los expertos han encontrado que, mientras que el color puede tener una influencia en c&oacute;mo nos sentimos y actuamos, estos efectos est&aacute;n sujetos a factores personales, culturales y situacionales, y&nbsp;<strong>ser&aacute; necesario esperar a que se realicen nuevas investigaciones cient&iacute;ficas en profundidad.</strong></p>


                    </div>

                </div>

                <P style="text-align: center;">
                    <button class="btn btn-primary btn-sm" onclick="atras()" >
                        Atrás
                    </button>
                </P>
                <div class="bottompanel" >10/08/2018</div>
            </div>
        </div>

    <script>
        document.getElementById("mat1").style.display = "none";
        document.getElementById("mat2").style.display = "none";

        function VerMat1(){
            document.getElementById("materiales").style.display = "none";
            document.getElementById("mat1").style.display = "block";
        }

        function VerMat2(){
            document.getElementById("materiales").style.display = "none";
            document.getElementById("mat2").style.display = "block";
        }

        function atras(){
            document.getElementById("materiales").style.display = "block";
            document.getElementById("mat1").style.display = "none";
        }
    </script>

    </div>
    <!--/span-->
    <!--/span-->
    <div class="col-md-3">
        {{>busqueda}}
        {{>ads}}
    </div>
</div>
