<div class="panel panel-default " style="padding:0;">

    <img src="./img/banner3.png" class="img-fluid" alt="Responsive image">

    <div class="panel-body">

        <div class="card-body" >
            <!-- Button -->
            <!-- Title -->
            <h4><img src="./img/logoempresa2.png"  style="align: center;">
            </h4>
            <hr>
            <!-- Text -->
            <div class="descripción" style=" background-color: #2196F3; color:white; padding: 20px;">
                <h3 style="text-align: center">Sumate a nuestra suscripción Premium</h3>
                <h4 class="card-text">
                    Y obten acceso ilimitado a nuestros test y material.
                    </h4>

            </div>

        </div>




    </div>
    <div class="bottompanel" >2018</div>
</div>