
<div class="row" >
    <div class="col-md-9">
        <div class="panel panel-default " style="padding:0;">

            <img src="./img/banner6.png" class="img-fluid" alt="Responsive image">

            <div class="panel-body">

                <div class="card-body" >
                    <!-- Button -->
                    <!-- Title -->
                    <h4>¿Estas Estresado?
                    </h4>
                    <hr>
                    <!-- Text -->
                    <div class="descripción" style=" background-color: #2196F3; color:white; padding: 20px;">
                        <h4 class="card-text">
                            En el mundo moderno, el estres es un importante problema...
                    </div>
                    <hr>

                    <p>En la siguiente sección responde segun que tanto concuerdas con la afirmación dada. Debes contestar todas las preguntas.
                    </p>
                </div>

                <div class="card-body">

                    <!-- Preguntas aquí -->

                    <div class="test" id="test">
                        <!--Preguntas-->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Pregunta</th>
                                <th scope="col" style="width: 230px;">Desacuerdo - De Acuerdo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td> El éxito se basa en la supervivencia del más apto; No me importa que ocurre con los perdedores.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >2</th>
                                <td>Me encuentro a mi mismo en la misma clase de problemas, una y otra vez.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >3</th>
                                <td>Para mi, si puedo salirme con la mia esta bien.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >4</th>
                                <td>Me aburro a menudo</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >5</th>
                                <td>Jacob</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >6</th>
                                <td>En el mundo de hoy, me siento justificado haciendo cualquier cosa que pueda para triunfar.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >7</th>
                                <td>Creo que soy capaz de perseguir una meta por un largo tiempo.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >8</th>
                                <td>My principal propósito en la vida es obtener tanto como pueda.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >9</th>
                                <td>No planeo nada demasiado lejano de antemano.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >10</th>
                                <td>Hacer mucho dinero es mi meta más importante.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>

                            </tbody>
                        </table>
                        <hr>
                        <P style="text-align: center;"><button class="btn btn-primary btn-sm" onclick="resolver()"><span class="glyphicon glyphicon-ok"></span>Evaluar</button>
                        </P>
                    </div>

                    <!--Resultado aquí-->

                    <div id="results" class="results">
                        <h4 class="card-title">Resultados</h4>

                        <hr>

                        <div class="descripción" style=" background-color: #2196F3; color:white; padding: 20px;">
                            <h4 class="card-text">
                                Te encuentras en el 5% de la población con más estres.
                            </h4>
                            <p>Estos resultados sugieren que deberias visitar un especialista. No es bueno para tí lidiar con este tipo de estrés. Podría hacerte daño.
                            </p>

                        </div>

                    </div>

                    <script>
                        document.getElementById("results").style.display = "none";


                        function resolver(){
                            document.getElementById("test").style.display = "none";
                            document.getElementById("results").style.display = "block";
                        }
                    </script>



                </div>


            </div>
            <div class="bottompanel" >2018</div>
        </div>

    </div>
    <!--/span-->
    <div class="col-md-3">

        {{>ads}}
    </div>
</div>