
<div class="row" >
    <div class="col-md-9">

        <div class="panel panel-default " style="padding:0;">

            <img src="./img/banner5.png" class="img-fluid" alt="Responsive image">

            <div class="panel-body">

                <div class="card-body" >
                    <!-- Button -->
                    <!-- Title -->
                    <h4>¿Soy un Psicopata?
                    </h4>
                    <hr>
                    <!-- Text -->
                    <div class="descripción" style=" background-color: #2196F3; color:white; padding: 20px;">
                        <h4 class="card-text">
                            Los psicopatas nos han fascinado por cientos de años, desde la literatura, como "Hannibal Lecter", hasta el cine. Pero ¿Podras ser tú un Psicopata?</h4>

                    </div>

                </div>

                <div class="card-body">
                    <!-- Button -->
                    <!-- Title -->
                    <hr>
                    <div id="intro" class="intro">
                        <h4 class="card-title">Comenzar Test</h4>
                        <P style="text-align: center;">
                            <button class="btn btn-primary btn-sm" >
                                <a href="/test1" style="color:white; font-size: small;">
                                    <span class="glyphicon glyphicon-play"></span>
                                    Comenzar
                                </a>
                            </button>
                        </P>
                    </div>

                </div>


            </div>
            <div class="bottompanel" >2018</div>
        </div>

        <div class="panel panel-default " style="padding:0;">

            <img src="./img/banner6.png" class="img-fluid" alt="Responsive image">

            <div class="panel-body">

                <div class="card-body" >
                    <!-- Button -->
                    <!-- Title -->
                    <h4>¿Estas Estresado?
                    </h4>
                    <hr>
                    <!-- Text -->
                    <div class="descripción" style=" background-color: #2196F3; color:white; padding: 20px;">
                        <h4 class="card-text">
                            En el mundo moderno, el estres es un importante problema...
                        </h4>

                    </div>

                </div>

                <div class="card-body">
                    <!-- Button -->
                    <!-- Title -->
                    <hr>
                    <div id="intro" class="intro">
                        <h4 class="card-title">Comenzar Test</h4>
                        <P style="text-align: center;">
                            <button class="btn btn-primary btn-sm" >
                                <a href="/test2" style="color:white; font-size: small;">
                                    <span class="glyphicon glyphicon-play"></span>
                                    Comenzar
                                </a>
                            </button>
                        </P>
                    </div>

                </div>


            </div>
            <div class="bottompanel" >2018</div>
        </div>

    </div>
    <!--/span-->
    <!--/span-->
    <div class="col-md-3">
        {{>busqueda}}
        {{>ads}}
    </div>
</div>









</div>