<div class="row" >
    <div class="col-md-9">

        <div class="panel panel-default " style="padding:0;">

            <img src="./img/banner5.png" class="img-fluid" alt="Responsive image">

            <div class="panel-body">

                <div class="card-body" >
                    <!-- Button -->
                    <!-- Title -->
                    <h4>¿Soy un Psicopata?
                    </h4>
                    <hr>
                    <!-- Text -->
                    <div class="descripción" style=" background-color: #2196F3; color:white; padding: 20px;">
                        <h4 class="card-text">
                            Los psicopatas nos han fascinado por cientos de años, desde la literatura, como "Hannibal Lecter", hasta el cine. Pero ¿Podras ser tú un Psicopata?</h4>

                    </div>

                    <hr>

                    <p>En la siguiente sección responde segun que tanto concuerdas con la afirmación dada. Debes contestar todas las preguntas.
                    </p>

                </div>

                <div class="card-body">

                    <!-- Preguntas aquí -->

                    <div class="test" id="test">
                        <!--Preguntas-->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Pregunta</th>
                                <th scope="col" style="width: 230px;">Desacuerdo - De Acuerdo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td> El éxito se basa en la supervivencia del más apto; No me importa que ocurre con los perdedores.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >2</th>
                                <td>Me encuentro a mi mismo en la misma clase de problemas, una y otra vez.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >3</th>
                                <td>Para mi, si puedo salirme con la mia esta bien.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >4</th>
                                <td>Me aburro a menudo</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >5</th>
                                <td>Jacob</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >6</th>
                                <td>En el mundo de hoy, me siento justificado haciendo cualquier cosa que pueda para triunfar.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >7</th>
                                <td>Creo que soy capaz de perseguir una meta por un largo tiempo.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >8</th>
                                <td>My principal propósito en la vida es obtener tanto como pueda.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >9</th>
                                <td>No planeo nada demasiado lejano de antemano.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>
                            <tr >
                                <th scope="row" >10</th>
                                <td>Hacer mucho dinero es mi meta más importante.</td>
                                <td> <form >
                                    <div class="form-check form-check-inline" id="pregunta1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                            <label class="form-check-label" for="inlineRadio3">3 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                                            <label class="form-check-label" for="inlineRadio3">4 </label>

                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                                            <label class="form-check-label" for="inlineRadio3">5 </label>
                                        </div>
                                    </div>
                                </form></td>
                            </tr>

                            </tbody>
                        </table>
                        <hr>
                        <P style="text-align: center;"><button class="btn btn-primary btn-sm" onclick="resolver()"><span class="glyphicon glyphicon-ok"></span>Evaluar</button>
                        </P>
                    </div>

                    <!--Resultado aquí-->

                    <div id="results" class="results">
                        <h4 class="card-title">Resultados</h4>

                        <hr>

                        <div class="descripción" style=" background-color: #2196F3; color:white; padding: 20px;">
                            <h4 class="card-text">
                                Te encuentras en el 5% de la población con comportamiento más psicopatico.
                            </h4>
                            <p>Esto no Significa que seas un psicopata. Detectar un trastorno de personalidad antisocial requiere de un especialista,
                                sin embargo, tu conducta sugiere ciertos comportamientos que podrían indicar la presencia de razgos psicopaticos. </p>

                        </div>
                        <hr>

                        <p>La definici&oacute;n de psic&oacute;pata t&iacute;pica es:</p>

                        <p>Persona con un trastorno antisocial de la personalidad, que se manifiesta de forma agresiva, pervertida, criminal o a trav&eacute;s de comportamiento amoral sin empat&iacute;a ni remordimientos. Persona que sufre un trastorno de la personalidad caracterizado por una tendencia a cometer actos antisociales y, a veces violentos, y con la incapacidad de sentir culpa por tales actos. Individuo con un trastorno mental el cu&aacute;l se manifiesta con comportamientos antisociales y amorales, falta de habilidad para amar o establecer relaciones personales significativas, egocentrismo extremo, incapacidad para aprender de las experiencias, etc. Date cuenta que en cada definici&oacute;n de psic&oacute;pata se hace referencia al aspecto &quot;antisocial&quot; y la incapacidad para sentir ciertas emociones. &iquest;Cu&aacute;l es el v&iacute;nculo?</p>

                        <p> </p>

                        <p>Ning&uacute;n polic&iacute;a interior (sin pepito grillo) &iexcl;Imagina que nunca sintieras culpa, verg&uuml;enza o remordimientos por nada que hayas hecho nunca! No tienes v&iacute;nculos emociones con otras personas y sus emociones no te afectan. En otras palabras, imagina que no tienes &quot;consciencia&quot;, ning&uacute;n polic&iacute;a interior dici&eacute;ndote lo que deber&iacute;as o no deber&iacute;as hacer. Y que nunca te arrepientes de nada tampoco.</p>

                        <p>&iquest;Qu&eacute; ser&iacute;as capaz de hacer? Y, lo que es m&aacute;s importante, &iquest;qu&eacute; no podr&iacute;as hacer? El abanico de posibilidades es interminable. Ir&iacute;as directo a por lo que quisieras, sin importarte los dem&aacute;s. Tomar&iacute;as lo que quieres, tratar&iacute;as a la gente de la manera que te diera la gana, les manipular&iacute;as o abusar&iacute;as de ellos simplemente por el mero hecho de dominarlos.</p>

                        <p>Las emociones &quot;socializadoras&quot; son aquellas que permiten que nuestra sociedad funcione bien, las que benefician a todas las parte implicadas. Estas emociones son, por ejemplo, la empat&iacute;a, el amor, la culpa, la verg&uuml;enza, el remordimiento. El hecho de tener estas emociones hace que tratemos bien a los dem&aacute;s, queremos tratarlos de forma justa, cuidar y ayudar a otros. Si careces de las emociones socializadoras, &iexcl;por supuesto tu comportamiento ser&iacute;a antisocial!</p>

                    </div>

                    <script>
                        document.getElementById("results").style.display = "none";


                        function resolver(){
                            document.getElementById("test").style.display = "none";
                            document.getElementById("results").style.display = "block";
                        }
                    </script>



                </div>


            </div>
            <div class="bottompanel" >2018</div>
        </div>


    </div>
    <!--/span-->
    <div class="col-md-3">

        {{>ads}}
    </div>
</div>
