

<div style="background-color: white;">
    <!-- Custom styles for this template -->
    <link href="./blog-post.css" rel="stylesheet">

    <script>

        console.log({{statusViewInbox}});


    </script>

    <!-- Card  Publicidad -->
    <div class="card">

        <!-- Card image -->
        <div class="view overlay">

            <div class="ads">
                <img  src="./img/img1.png" >
                <a href="/test1"><button class="btn  btn-circle"><span class="glyphicon glyphicon-play"></span></button></a>
            </div>

        </div>

        <div class="card-body">
            <!-- Button -->
            <!-- Title -->
            <h4 class="card-title">¿Eres un Psicopata?</h4>

            <hr>
            <!-- Text -->
            <div class="descripción">
                <p class="card-text">Los psicopatas abundan en nuestras peores pesadillas, pero ¿sera posible que seamos uno?</p>
            </div>

        </div>

        <!-- Card footer -->
        <div class="rounded-bottom  text-center pt-3">
            <ul class="list-unstyled list-inline font-small">
                <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                <li class="list-inline-item pr-2"><a href="#" class="white-text">12 <span class="glyphicon glyphicon-comment"></span></a></li>
                <li class="list-inline-item pr-2"><a href="#" class="white-text">15  <span class="glyphicon glyphicon-thumbs-up"></span></a></li>

            </ul>
        </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card">

        <!-- Card image -->
        <div class="view overlay">

            <div class="ads">
                <img  src="./img/img2.png" >
                <a href="/test2"><button class="btn  btn-circle"><span class="glyphicon glyphicon-play"></span></button></a>
            </div>

        </div>

        <div class="card-body">
            <!-- Button -->
            <!-- Title -->
            <h4 class="card-title">¿Estas Estresado?</h4>

            <hr>
            <!-- Text -->
            <div class="descripción">
                <p class="card-text">El mundo laboral actual es difícil, pero, ¿Estas estresado? Averigualo con este sencillo test.</p>
            </div>

        </div>

        <!-- Card footer -->
        <div class="rounded-bottom  text-center pt-3">
            <ul class="list-unstyled list-inline font-small">
                <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                <li class="list-inline-item pr-2"><a href="#" class="white-text">12 <span class="glyphicon glyphicon-comment"></span></a></li>
                <li class="list-inline-item pr-2"><a href="#" class="white-text">15  <span class="glyphicon glyphicon-thumbs-up"></span></a></li>

            </ul>
        </div>

    </div>
    <!-- Card -->
</div>
