

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">SafeSpace</h5>
                <p>Este sitio y su contenido son propiedad de la empresa HealthyMND SpA.</p>
                <p>HealthyMND.cl</p>
                <p>Pasaje Volcan huesqui 768, Puente Alto</p>
                <p>Servicio al Cliente: 800 200 768</p>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <img src="./img/logoempresa1.png" >

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <img src="./img/minilogo8.png" >

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/">HealthyMND</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->