
<ul class="sidebar-nav">
    <div class="user">
        <img src="./img/user1.png">
        <p>{{username}}</p>
        <button type="button" class="btn btn-secondary"><a href="/premium" style="color:white;">¡Quiero ser Premium!</a></button>
    </div>

    <li>
        <a href="/" > Historias</a>
    </li>
    <li>
        <a href="/tablero" >Tablero</a>
    </li>
    <li>
        <a href="/test">Tests</a>
    </li>
    <li>
        <a href="/material">Autoayuda</a>
    </li>

</ul>



